name: 'Terraform TCC Pipeline'

on:
  workflow_dispatch:
    inputs:
      # Novo interruptor no lugar de apply/destroy
      create_environment:
        description: 'Marque para CRIAR/ATUALIZAR. Desmarque para DESTRUIR os recursos efêmeros.'
        required: true
        default: true
        type: boolean

jobs:
  terraform:
    name: 'Terraform Action'
    runs-on: ubuntu-latest

    defaults:
      run:
        working-directory: ./environments/aws/teste

    steps:
      - name: 'Checkout'
        uses: actions/checkout@v4

      - name: 'Configure AWS Credentials'
        uses: aws-actions/configure-aws-credentials@v4
        with:
          aws-access-key-id: ${{ secrets.AWS_ACCESS_KEY_ID }}
          aws-secret-access-key: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
          aws-region: us-east-1

      - name: 'Setup Terraform'
        uses: hashicorp/setup-terraform@v3

      - name: 'Terraform Init'
        run: terraform init

      - name: 'Terraform Apply'
        run: |
          # Passa o input do pipeline para a variável do Terraform
          terraform apply -auto-approve -var="create_environment=${{ github.event.inputs.create_environment }}"
